<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <p>Old name: <%=oldName%></p>
    <form method="post">
        <label for="category-name">New name: </label>
        <input type="text" name="category-name" id="category-name" required>
        <button type="submit">Update</button>
    </form>
    <a href="/"><button>Cancel</button></a>
</body>
</html>